<!DOCTYPE html>
<html>
<head>
  <title>Productos en Tiempo Real</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Productos en Tiempo Real</h1>
  <ul id="productList">
    {{#each products}}
    <li>{{this.title}} - {{this.price}}</li>
    {{/each}}
  </ul>

  <form id="productForm">
    <input type="text" name="title" placeholder="Nombre del producto" required>
    <input type="number" name="price" placeholder="Precio" required>
    <button type="submit">Agregar Producto</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
